<h2 class="display-4" id="component-breadcrumb"><a href="http://getbootstrap.com/docs/4.0/components/breadcrumb/">Breadcrumbs</a></h2>
<div class="bd-example">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Home</li>
  </ol>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Library</li>
  </ol>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active">Data</li>
  </ol>
</div>

<h3>Without list markup</h3>
<div class="bd-example">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <a class="breadcrumb-item" href="#">Library</a>
    <a class="breadcrumb-item" href="#">Data</a>
    <span class="breadcrumb-item active">Bootstrap</span>
  </nav>
</div>