<h2 class="display-4" id="component-code"><a href="https://getbootstrap.com/docs/4.0/content/code/">Code</a></h2>
<h3>Inline code</h3>
<div class="bd-example">
  For example, <code>&lt;section&gt;</code> should be wrapped as inline.
</div>

<h3>Code blocks</h3>
<div class="bd-example">
  <pre><code>&lt;p&gt;Sample text here...&lt;/p&gt;
&lt;p&gt;And another line of sample text here...&lt;/p&gt;
</code></pre>
</div>

<h3>Variables</h3>
<div class="bd-example">
  <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
</div>

<h3>User input</h3>
<div class="bd-example">
  To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br> To edit settings, press <kbd><kbd>ctrl</kbd>      + <kbd>,</kbd></kbd>
</div>

<h3>Sample output</h3>
<div class="bd-example">
  <samp>This text is meant to be treated as sample output from a computer program.</samp>
</div>