<h2 class="display-4" id="component-images"><a href="https://getbootstrap.com/docs/4.0/content/images/">Images</a></h2>
<h3>Responsive images</h3>
<div class="bd-example">
  <img src="https://unsplash.it/1300/400" class="img-fluid" alt="Responsive image">
</div>

<h3>Image thumbnails</h3>
<div class="bd-example">
  <img src="https://unsplash.it/300/300" alt="..." class="img-thumbnail">
</div>

<h3>Aligned images</h3>
<div class="bd-example">
  <img src="https://unsplash.it/300/300" class="rounded float-left" alt="...">
  <img src="https://unsplash.it/300/300" class="rounded float-right" alt="...">
</div>
<div class="bd-example">
  <img src="https://unsplash.it/300/300" class="rounded mx-auto d-block" alt="...">
</div>